[Desktop Entry]
Encoding=UTF-8
Name=IQCash
Comment=IQCash P2P Cryptocurrency
Comment[fr]=IQCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=IQCash, eşten eşe kriptografik sanal para birimi
Exec=iqcash-qt %u
Terminal=false
Type=Application
Icon=iqcash128
MimeType=x-scheme-handler/iqcash;
Categories=Office;Finance;
